.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel img {
  width: 100%;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

button.left {
  left: 10px;
}

button.right {
  right: 10px;
}
