<div class="flex justify-between items-center mb-4">
  <!-- Button to open dialog -->
  <button mat-raised-button class="bg-blue-500 text-white" (click)="openDialog()">Add New Employee</button>

  <!-- Search Bar -->
  <mat-form-field class="search-bar w-3/5">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search employees">
  </mat-form-field>
</div>

<!-- Table to Display Employees -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-table">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
      <td mat-cell *matCellDef="let employee"> {{employee.id}} </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let employee"> {{employee.firstName}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let employee"> {{employee.lastName}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="emailId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let employee"> {{employee.emailId}} </td>
    </ng-container>

    <!-- Date of Birth Column -->
    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </th>
      <td mat-cell *matCellDef="let employee"> {{employee.dateOfBirth | date:'yyyy-MM-dd'}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let employee">
        <button mat-button (click)="onEdit(employee)" class="edit-button">Edit</button>
        <button mat-button (click)="onDelete(employee)" class="delete-button">Delete</button>
      </td>
    </ng-container>

    <!-- Header and Row Definition -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <!-- Paginator -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of employees"></mat-paginator>


  <!-- Dialog Template -->
  <ng-template #dialogTemplate>
    <h2 mat-dialog-title>{{isNew ? 'Add New Employee Data' : 'Edit Employee Data'}}</h2>
    <mat-dialog-content>
      <form [formGroup]="selectedEmployeeForm" (ngSubmit)="onSave()">
        <div class="form-field-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required>
            <mat-error *ngIf="selectedEmployeeForm.get('firstName')?.hasError('required')">
              First Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-field-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
            <mat-error *ngIf="selectedEmployeeForm.get('lastName')?.hasError('required')">
              Last Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-field-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="emailId" required>
            <mat-error *ngIf="selectedEmployeeForm.get('emailId')?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="selectedEmployeeForm.get('emailId')?.hasError('email')">
              Invalid <strong>email</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-field-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="selectedEmployeeForm.get('dateOfBirth')?.hasError('required')">
              Date of Birth is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="selectedEmployeeForm.get('dateOfBirth')?.hasError('dateInvalid')">
              Date of Birth must be between 10 and 60 years ago
            </mat-error>
          </mat-form-field>
        </div>
        <div class="dialog-actions">
          <button mat-button (click)="closeDialog()">Cancel</button>
          <button mat-raised-button  color="primary" type="submit">Save</button>
        </div>
        
      </form>
    </mat-dialog-content>
  </ng-template>

  <ng-template #deleteDialogTemplate let-dialogRef="dialogRef">
    <h2 mat-dialog-title>Confirm Delete</h2>
    <mat-dialog-content>
      <p>Are you sure you want to delete this employee?</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="close(dialogRef)">Cancel</button>
      <button mat-raised-button color="warn" (click)="confirmDelete(dialogRef)">Delete</button>
    </mat-dialog-actions>
  </ng-template>

  <!-- Add this to your employee.component.html -->
<div *ngIf="showToast" class="toast">{{ toastMessage }}</div>
<div *ngIf="showDeleteToast" class="toast">{{ deleteToastMessage }}</div>

  <!-- Toast Notifications -->
  <mat-snackbar *ngIf="showToast" [message]="toastMessage" [duration]="3000"></mat-snackbar>
  <mat-snackbar *ngIf="showDeleteToast" [message]="deleteToastMessage" [duration]="3000"></mat-snackbar>
</div>
