table {
    width: 100%;
  }
  /* Styling for search bar */
.search-bar {
    width: 40%;
  }
  
  /* Styling for modal form fields */
  .modal-form-field {
    font-size: 14px;
    width: calc(100%);
  }
  
  /* Styling for modal dialog */
.mat-dialog-container {
  max-width: calc(100% + 30%);
}

  td, th {
    width: 5%;
  }
  
  .wider-dialog-content {
    width: 600px; /* Adjust width as desired */
  }
  
  .wider-dialog-container {
    width: calc(100% + 15%); /* Increase width by 15% */
    max-width: unset; /* Remove potential max-width restrictions */
  }
  /* Dialog content styling */
.mat-dialog-content {
  padding: 16px;
  max-height: calc(100vh - 64px);
  overflow-y: auto;
}

/* Container for form fields to ensure consistent spacing */
.form-field-container {
  margin-bottom: 16px;
}

/* Form field styling */
.form-field {
  width: 100%;
}

/* Action buttons styling */
.dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}


.submit-button:hover {
  background-color: #d3e0ee; /* Darker blue on hover */
}

/* Styling for mat-error */
.mat-error {
  font-size: 12px;
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* Add styles to customize the 'Edit' button */

.edit-button:hover {
  background-color: #d3e0ee; /* Tailwind Blue 600 */
}

/* Add styles to customize the 'Delete' button */
.delete-button {
  background-color: transparent; /* No background color */
  color: #ef4444; /* Tailwind Red 500 */
}

.delete-button:hover {
  color: #dc2626; /* Tailwind Red 600 */
  background-color: transparent; /* No background color */
}
