<nav class="bg-white p-5 shadow-md" style="height: 10%;">
  <div class="container mx-auto flex justify-between items-center h-full">
    <div class="flex items-center h-full">
      <button mat-icon-button (click)="toggleSidebar()" class="mr-3">
        <mat-icon>menu</mat-icon>
      </button>
      <img [src]="logoUrl" alt="Logo" class="logo-img"> <!-- Gunakan class untuk pengaturan ukuran gambar -->
    </div>
    <div class="flex items-center space-x-6">
      <span class="text-xl text-black">Halo, {{ username }}!</span>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="hover:bg-gray-200 p-1 rounded-full">
        <img src="images/icons/account.svg" alt="Account" class="h-6">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateToProfile()">Profile</button>
        <button mat-menu-item (click)="openLogoutDialog()">Logout</button>
      </mat-menu>
    </div>
  </div>
</nav>

<ng-template #logoutDialog>
  <h2 mat-dialog-title>Logout Confirmation</h2>
  <mat-dialog-content>Apakah Anda yakin ingin logout?</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Batal</button>
    <button mat-button mat-dialog-close color="warn" (click)="confirmLogout()">Yakin</button>
  </mat-dialog-actions>
</ng-template>

<!-- Sidebar -->
<div class="sidebar" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <div class="sidebar-header">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>close</mat-icon>
    </button>
    <img [src]="logoUrl" alt="Logo" class="h-12">
  </div>
  <div class="sidebar-content">
    <a routerLink="/dashboard" class="hover:text-blue-500 flex items-center space-x-2">
      <button mat-button>Home</button>
    </a>
    <!-- Button Employee List Management -->
    <button *ngIf="canAccess('employeeList')" mat-button (click)="navigateToEmployeeList()">Employee List Management</button>
    <!-- Button Role Menu Function -->
    <button *ngIf="canAccess('roleMenu')" mat-button (click)="navigateToRoleMenu()">Role Menu Function</button>
  </div>
</div>

<!-- Overlay -->
<div class="overlay" *ngIf="isSidebarOpen" (click)="toggleSidebar()"></div>
