/* Styles for sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar-open {
  left: 0;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 10%; /* Ensure this matches the height set in the HTML */
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
}

.sidebar-header img {
  margin-left: auto;
}

.sidebar-content {
  padding: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Adjust main content when sidebar is open */
.main-content {
  transition: margin-left 0.3s ease-in-out;
}

.sidebar-open ~ .main-content {
  margin-left: 250px;
}

/* Other styles for the header */
nav .text-black {
  color: black;
}

nav .hover\:text-blue-500:hover {
  color: #3b82f6; /* Tailwind's blue-500 color */
}

nav .hover\:bg-gray-200:hover {
  background-color: #e5e7eb; /* Tailwind's gray-200 color */
}

nav .p-5 {
  padding: 1.25rem; /* Adjust padding */
}

nav .shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); /* Medium shadow */
}

nav .rounded-full {
  border-radius: 9999px; /* Fully rounded button */
}

nav .text-xl {
  font-size: 1.25rem; /* Extra large text */
}

nav .font-semibold {
  font-weight: 600; /* Semi-bold font weight */
}

/* New style for logo image */
.logo-img {
  max-height: 100%; /* Make sure the image does not exceed the header height */
  /* object-fit: contain; Ensure the image maintains its aspect ratio */
}
