<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-4xl flex flex-col lg:flex-row">
    <div class="w-full lg:w-1/2 flex items-center justify-center p-4">
      <img src="images/login/login.jpg" alt="Login Image" class="rounded shadow-md w-full h-full object-cover">
    </div>
    <div class="w-full lg:w-1/2">
      <h2 class="text-2xl font-bold mb-4 text-center">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
          </mat-form-field>
        </div>
        <div class="mb-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" class="w-full">Login</button>
        <div class="text-center mt-4">
          <a routerLink="/register" class="text-blue-500 hover:underline">Belum memiliki akun? Registrasi disini</a>
        </div>
      </form>
      <div *ngIf="errorMessage" class="text-red-500 mt-4 text-center">{{ errorMessage }}</div>
    </div>
  </div>
</div>
