<div class="min-h-screen flex flex-col items-center justify-center p-8">
  <br>
  <h1 class="text-3xl font-bold mb-8">User Profile</h1>
  <br>
  <!-- Profile Card -->
  <div *ngIf="userProfile" class="bg-white rounded-lg shadow-2xl transform transition-transform duration-300 hover:scale-105 max-w-md w-full p-6 relative">
    <div class="absolute -top-12 left-1/2 transform -translate-x-1/2">
      <img src="images/icons/account.svg" alt="Account Icon" class="h-24 w-24 bg-white rounded-full p-2 shadow-md">
    </div>
    <div class="mt-16 mb-6">
      <div class="flex justify-between items-center mb-2">
        <strong class="text-lg">Username</strong>
        <span class="font-normal text-lg">{{ userProfile?.username }}</span>
      </div>
      <div class="flex justify-between items-center mb-2">
        <strong class="text-lg">Role</strong>
        <span class="font-normal text-lg">{{ getRoleDisplayName(userProfile?.role ?? '') }}</span>
      </div>
      <div class="flex justify-between items-center">
        <strong class="text-lg">Email</strong>
        <span class="font-normal text-lg">{{ userProfile?.email }}</span>
      </div>
    </div>
    
    </div>    
    <div class="flex justify-end">
      <!-- <button class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded" (click)="openDeleteAccountDialog()">Delete Account</button> -->
    </div>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-8" role="alert">
    <span class="block sm:inline">{{ errorMessage }}</span>
  </div>

  <!-- Loading State -->
  <div *ngIf="!userProfile && !errorMessage" class="mt-8">
    <p class="text-lg text-gray-700">Loading profile...</p>
  </div>

  <!-- Dialog for Account Deletion Confirmation -->
  <!-- <ng-template #deleteAccountDialog>
    <br>
    <h2 mat-dialog-title class="text-xl font-bold mb-1">Delete Account Confirmation</h2>
    <mat-dialog-content class="mb-6">Are you sure you want to delete this account?</mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="dialog.closeAll()" class="bg-gray-300 hover:bg-gray-400 text-black py-2 px-4 rounded mr-2">
        Cancel
      </button>
      <button mat-button (click)="deleteAccount()" class="bg-red-200 hover:bg-red-200 text-red-700 py-2 px-4 rounded">
        Confirm
      </button>
    </mat-dialog-actions>
  </ng-template> -->
