.role-menu-container {
    padding: 20px;
  }
  
  .role-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .role-menu-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #3f51b5;
  }
  .role-description {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
  }
  .role-description p {
    margin: 0;
  }
  